<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <p class="footer-link-title"><span>Links</span></p>
        <hr>
        <p class="footer-link-item">
          <a target="_blank" href="https://twitter.com/voidm4p">Twitter</a>
        </p>
        <p class="footer-link-item">
          <a target="_blank" href="https://t.me/voidm4p">Telegram</a>
        </p>
      </div>
      <div class="column is-9">
        <div class="content has-text-right">
          <p>Copyright © {{ site.time | date: '%Y' }} voidm4p</p>
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/template" id="algolia-dropdown-menu-template">
  <div class="algolia-dropdown-menu">
    <div class="aa-dataset-d1"></div>
  </div>
</script>
<script charset="utf-8" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script charset="utf-8" src="https://cdn.bootcss.com/algoliasearch/3.27.1/algoliasearch.min.js"></script>
<script charset="utf-8" src="https://cdn.bootcss.com/autocomplete.js/0.30.0/autocomplete.jquery.min.js"></script>
<script charset="utf-8" src="/js/app.js"></script>
