<header>
  <nav class="navbar has-shadow is-spaced" id="header-navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}/">
          <span class="icon">
            <i style="padding-right:5px;padding-top:5px"><img src="{{ "/assets/favicon.png" | prepend: site.baseurl }}"></i>
          </span>
          <span>{{ site.title }}</span>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="control has-icons-right">
              <input class="input" id="header-navbar-search" type="text" placeholder="Search...">
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
          {% for page in site.pages reversed %}
            {% if page.title and page.icon %}
            <a class="navbar-item" href="{{ page.url | prepend: site.baseurl }}">
              <span class="icon">
                <i class="fa fa-{{ page.icon }}"></i>
              </span>
              <span>{{ page.title }}</span>
            </a>
            {% endif %}
          {% endfor %}
          {% if site.github_username %}
          <a class="navbar-item" href="https://github.com/{{ site.github_username }}">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
          {% endif %}
          <a class="navbar-item" href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <span class="icon">
              <i class="fas fa-rss"></i>
            </span>
            <span>RSS</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
